%h2= t("front.demo.media.gallery")
%hr.bolded
.photos
  %ul.thumbnails
    - @albums.each do |album|
      - next if album.photos.empty?
      %li.span3
        %a.thumbnail{ href: media_album_path(album), title: album.title }
          = image_tag(album.photos.first.link('240c'))