%h4= t("front.demo.event.upcoming")
%table.table
  %tbody
    - @next_events.each do |event|
      %tr
        %td= link_to event.info(@current_shard_language).title, event_path(event)
        %td
          %span.badge= event.starts_at.strftime("%d.%m.%y")