%footer
  .row-fluid
    .span3
      %h4 Будьте везде!
      %ul.footerlists
        %li
          %a{ href: "#" } Twitter
        %li
          %a{ href: "#" } Facebook
    / /span
    .span3
      %h4 Автор
      %ul.footerlists
        %li
          %a{ href: "#" } @ИмяПользователя
    / /span
    .span3
      %h4 Категории
      %ul.footerlists
        %li
          %a{ href: "#" } Музыка
        %li
          %a{ href: "#" } Видео
        %li
          %a{ href: "#" } Путешествия
    / /span
    .span3
      %h4 Ссылки
      %ul.footerlists
        %li
          %a{ href: "#" } Сообщество Вконтакте
        %li
          %a{ href: "#" } Сообщество на Facebook
    / /span
    .row-fluid
      .span4
        %p
          \©
          = t('front.demo.title')
          2012