%h4= t("front.demo.follow_us")
.social
  %ul
    %li
      %a{ href: "#" }
        %i.icon24-facebook
    %li
      %a{ href: "#" }
        %i.icon24-twitter
    %li
      %a{ href: "#" }
        %i.icon24-vkontacte
    %li
      %a{ href: "#" }
        %i.icon24-google-plus
    %li
      %a{ href: "#" }
        %i.icon24-picasa
    %li
      %a{ href: "#" }
        %i.icon24-youtube
    %li
      %a{ href: "#" }
        %i.icon24-amazon
    %li
      %a{ href: "#" }
        %i.icon24-rss
