.clearfix.feed
  - unless @current_shard and @current_shard.posts.length > 0
    %h2= t("front.blog.empty")
  - else
    -# = render "demo/blog/posts", posts: @official_posts, stream: :official
    = render "demo/blog/posts", posts: @personal_posts, stream: :personal
