@import "bootstrap";
@import "bootstrap-responsive";

h1, h2, h3, h4, h5, h6 { margin: 0 0 18px;}

body {
 background: image-url('demo/stripes.png');
 text-shadow: 0 1px 0 rgba(255,255,255, .5); 
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
}
.advert {
  margin-bottom: 10px;
  max-width: 930px;
}
.logobar {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 1200px;
  width: 100%;
}
.logo {
  font-family: 'Play', sans-serif;
  font-size: 40px;
  margin: 25px 0 25px;
  a {
    color: #000;
    &:hover {
      color: #999;
      text-decoration: none;
    }
  }
}
.navbar-inner {
  padding-left: 0;
  padding-right: 0;
}
.navbar {
  .nav {
    & > li {
      & > a {
        font-size: 14px;
      }
    }
  }
}
#toTop {
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}
.side-advert {
  margin-bottom: 15px;
}
.time-ago {
  display: inline-block;
  line-height: 20px;
  z-index: 10;
  color: #999;
}
.item {
  h4 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
.lastest-post.img-wrap a, #latest-post p a {
  text-decoration: none;
}
.latest-post {
  h5 {
   margin: 0;
  }
}
.meta-wrap {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
.meta {
  position: relative;
  top: 2px;
}
.dateTime {
  font-size: 11px;
  color: #666666;
  .author {
    margin: 0 .25em;
  }
}
.meta-comments {
  border-radius: 4px 4px 4px 4px;
  font-size: 11px;
  padding: 2px 5px;
  text-transform: uppercase;
  background: none repeat scroll 0 0 #000000;
  a {
    margin-right: 6px;
    text-decoration: none;
    color: #FFFFFF;
    &:hover {
      color: #666666;
    }
  }
}
.author {
  a {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }
}
img {
  &.attachment-post-thumbnail {
    height: auto !important;
    max-width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
}
a {
  &.readmore {
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
  }
}
hr {
  border-color: #eee;
  &.bolded {
    border-width: 2px;
  }
}
.readmore {
  display: block;
  height: 20px;
}
.post {
  p {
    a {
      text-decoration: underline;
      color: #000;
      &:hover {
        color: #999;
      }
    }
  }
  h2 {
    font-weight: normal;
    a {
      text-decoration: none;
      color: #333;
      font-size: 24px;
    }
  }
}
.paginate {
  margin: 0;
  padding: 0;
  li {
    display: inline;
    list-style: none outside none;
    float: none;
  }
  .title {
    margin-right: 4px;
    display: none;
    color: #555555;
  }
  .current {
    margin-right: 4px;
    padding: 3px 6px;
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #89ADCF;
    color: #FFFFFF;
  }
  a {
    margin-right: 4px;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    color: #666666;
  }
}
.paginate li a.next, .paginate li a.prev {
  position: relative;
}
.comments {
  margin: 40px 0 0;
}
.commentlist {
  list-style: none outside none;
  margin: 0;
  li {
    &.comment {
      line-height: 24px;
      margin: 0 0 24px;
      padding: 0 0 0 56px;
      position: relative;
      line-height: 24px;
      border-bottom: 1px solid #E7E7E7;
    }
  }
  .avatar {
    left: 0;
    position: absolute;
    top: 4px;
  }
  .children {
    list-style: none outside none;
    margin: 0;
    li {
      border: medium none;
      margin: 0;
    }
  }
}
.comment-author {
  cite {
    font-style: normal;
    font-weight: bold;
    color: #000000;
  }
  .says {
    font-style: italic;
  }
}
.comment-meta {
  font-size: 12px;
  margin: 0 0 18px;
  a {
    color: #666;
  }
}
.reply {
  font-size: 12px;
  padding: 0 0 24px;
}
.footerlists {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box {
  border: 1px solid #DDDDDD;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  line-height: 1;
  padding: 4px;
}
.lastest-post {
  &.img-wrap {
    a {
      color: #999;
    }
  }
}
.latest {
  p {
    margin: 0;
  }
}
[class^="icon24-"],[class*=" icon24-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  *margin-right: .3em;
  line-height: 24px;
  vertical-align: text-top;
  background-image:  image-url('demo/social.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
.icon24-vkontacte {
  background-position: 0 0;
}
.icon24-twitter {
  background-position: -24px 0;
}
.icon24-facebook {
  background-position: -48px 0;
}
.icon24-youtube {
  background-position: -72px 0;
}
.icon24-picasa {
  background-position: -96px 0;
}
.icon24-google-plus {
  background-position: -120px 0;
}
.icon24-google {
  background-position: -144px 0;
}
.icon24-amazon {
  background-position: -168px 0;
}
.icon24-rss {
  background-position: -192px 0;
}
.social {
  margin: 0 0 18px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  a:hover {  text-decoration: none;}
}
span.thumbnail {  background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    position: relative;
    z-index: 10;
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
}
.stack {
  position: absolute;
  border: solid 1px #ddd;
  background: #fff;
  width: 100%;
  border-radius: 3px;
  &.level0 {
    left: 6px;
    top: -6px;
    width: 168px;
    height: 168px;
    z-index: 0;
  }
  &.level1 {
    left: 4px;
    top: -4px;
    width: 168px;
    height: 168px;
    z-index: 1;
  }
  &.level2 {
    left: 2px;
    top: -2px;
    width: 168px;
    height: 168px;
    z-index: 2;
  }
}

.events {
  .thumbnail{
    min-height:150px;
    &:hover {
    background: #0088CC;
    color: #fff;
    text-shadow: none;
    border: solid 1px #0088CC;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    h3 {
      a {
      color: #fff;
      text-shadow: none;
      }
    }
    .badge {
     background: #fff;
     color: #0088CC;
     text-shadow: none;
    }
    }
  }
  h3 {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 12px;
  }
}
img.photo { float:left; margin: 0 20px 20px 0; max-width: 100%; }

.thumbnails>li { position: relative;}
.row-fluid .thumbnails [class*="span"]:first-child + [class*="span"] + [class*="span"] + [class*="span"] + [class*="span"],
.row-fluid .thumbnails [class*="span"]:first-child + [class*="span"] + [class*="span"] + [class*="span"] + [class*="span"] + [class*="span"] + [class*="span"] + [class*="span"] + [class*="span"] {
  margin-left: 0;
}
.sidebar {
  h4 {
    margin: 0 0 18px;
    font-size: 15px;
  }
}
.dotted {
  text-decoration: underline;
}
.sc-player ol,
.sc-player li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 1;
}
.sc-trackslist {
  font-size: 16px;
  margin: 0 6px;
  a {
    padding: 0 0 10px 0;
    float: left;
  }
}
.sc-player {
  a {
    text-decoration: none;
    padding: 0 10px 10px;
  }
  .sc-artwork-list {
    display: block;
    padding: 0 0 10px 0;
    li {
      background: none;
      border: none;
      list-style-type: none;
      display: none;
      .thumbnail {
        background: none;
        border: none;
        box-shadow: none;
      }
      &.active {
        list-style-type: none;
        display: block;
      }
    }
  }
  .sc-controls {
    display: block;
    width: 28px;
    height: 28px;
    float: left;
    padding: 10px;
    position: relative;
    z-index: 2;
    a {
      display: block;
      width: 32px;
      height: 32px;
      padding: 0;
      color: transparent;
      background: url('../img/play.png');
      &.sc-pause {
        display: none;
        width: 32px;
        height: 32px;
      }
      &:hover {
        background: url('../img/play-hover.png');
      }
    }
  }
  &.playing {
    .sc-controls {
      a {
        &.sc-play {
          display: none;
        }
        &.sc-pause {
          display: block;
          background: url('../img/pause.png');
          &:hover {
            background: url('../img/pause-hover.png');
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
}
.sc-scrubber {
  position: relative;
  .sc-time {
    background-color: #666666;
    border-radius: 4px 4px 4px 4px;
    bottom: 0;
    height: 8px;
    left: 60px;
    margin: 22px 7px 10px;
    position: absolute;
    right: 0;
    img {
      width: 100%;
    }
  }
  .sc-time-indicators {
    color: #585858;
    display: block;
    float: right;
    padding: 0 7px 10px;
  }
  .sc-played {
    background: rgb(77,153,224);
    background: -moz-linear-gradient(top,  rgba(77,153,224,1) 0%, rgba(59,127,186,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,153,224,1)), color-stop(100%,rgba(59,127,186,1)));
    background: -webkit-linear-gradient(top,  rgba(77,153,224,1) 0%,rgba(59,127,186,1) 100%);
    background: -o-linear-gradient(top,  rgba(77,153,224,1) 0%,rgba(59,127,186,1) 100%);
    background: -ms-linear-gradient(top,  rgba(77,153,224,1) 0%,rgba(59,127,186,1) 100%);
    background: linear-gradient(top,  rgba(77,153,224,1) 0%,rgba(59,127,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d99e0', endColorstr='#3b7fba',GradientType=0 );
    z-index: 799;
  }
}
.sc-scrubber .sc-buffer,
.sc-scrubber .sc-played {
  height: 8px;
  position: absolute;
  top: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #333;
  z-index: 1;
  position: absolute;
}
.sc-player-engine-container {
  width: 1px;
  height: 1px;
  position: fixed;
  top: -555px;
  left: -555px;
}
.welcome {
  color: #888888;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 30px;
}
.share { 
    margin: 30px 0;
    min-height: 35px;
  .item {
    display:inline-block;
    vertical-align: top;
    padding: 3px;
  }
}
.ajax-pagination {  
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    margin: 40px 0;
    padding: 5px;
    text-align: center;}
    
.city { margin: 0 3px 0 0;} 

.bordered { border:solid 1px #ddd;}

footer {
  h4 { margin: 0 0 12px 0;}
}